{% extends 'base.html' %}

{% block content %}
{{ super() }}
<form action="/feedback" method="post" class="form-feedback">
  <p><label>Імʼя: </label> <input type="text" name="username" value="" required />
  <p><label>Email: </label> <input type="text" name="email" value="" required />
  <p><label>Повідомлення: </label>
  <p><textarea name="message" rows=7 cols=40></textarea>
  <p><input type="submit" value="Вшдправити" />
</form>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
{% endblock %}